@charset "utf-8";
.mask{display:none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.6);filter:alpha(opacity=60); z-index: 999;}

.banner{
	height:720px;
	background: url(https://i.loli.net/2019/09/22/dczjsGQAYw39RUJ.png) no-repeat center;
}

/*公共头部开始*/
.header{
	height:70px;
	border-bottom: 2px solid rgba(200,200,200,0.4);
}
.header .logo{
	float:left;
	margin-top:12px;
	width:168px;
	height:42px;
}
.header .logo a{
	width:100%;
	height:100%;
	background: url(../images/logo1.png) no-repeat center;
}


.header .logos{
	float:left;
	margin-top:12px;
	width:168px;
	height:42px;
}

.header .logos a{
	width:387px;
	height:128px;
	text-align: center;
	background: url(../images/ban.png) no-repeat center;
	margin-top: 200px;
}

.header .logo:hover{
	cursor: pointer;
}
.header .navBar{
	float:right;
}
.header .list .item{
	float:left;
	font-size:20px;
	line-height: 70px;
	color:#fff;
	margin-right:86px;
	cursor: pointer;
}
.header .downloadApp{
	display: none;
	position:fixed;
	left:28%;
	top:0;
	width:800px;
	height:810px;
	z-index: 1000;
}
.header .downloadApp .close{
	padding-left:98%;
	margin-bottom:28px;
}
.header .downloadApp .close .close-line{
	height:210px;
	width:1px;
	background: #fff;
}
.header .downloadApp .close .close-btn{
	border:1px solid #fff;
	width:44px;
	height:44px;
	border-radius: 50%;
	text-align: center;
	line-height: 44px;
	margin-left:-22px;
}
.header .downloadApp .cot{
	width:736px;
	height:470px;
	padding:30px 0 0 64px;
	background: #e3e3e3;
	border-radius: 6px;
}
.header .downloadApp .cot .phoneBg{
	float:left;
	width:238px;
	height:410px;
	background: #fff;
	border-radius: 18px;
	padding:30px 0 0 20px;
}
.header .downloadApp .cot .phoneBg .phoneImg{
	width:218px;
	height:370px;
	background: url(../images/phoneImg.png) no-repeat center;
}
.header .downloadApp .cot .QR{
	width:476px;
	float:left;
}
.header .downloadApp .cot .QR .QR-title{
	text-align: center;
	font-size:32px;
	color:#333333;
	margin-bottom:30px;
}
.header .downloadApp .cot .QR .QRbg{
	width:230px;
	height:230px;
	background: #fff;
	border-radius: 10px;
	margin:0 auto;
	margin-bottom:10px;
	box-shadow: 0 0 2px 2px #E0E0E0;
}
.header .downloadApp .cot .QR .QR-txt{
	text-align: center;
	color:#333;
}
.header .list a{
	color:#fff;
	border-bottom: 2px solid rgba(200,200,200,0.2);
}
.banner .header .list .item a:hover{
	color:#ff534c;
	border-color:#ff534c;
}
.header .list .item:last-child{
	margin-right:0;
}
.QRimg{
	width:230px;
	height:230px;
	background: url(../images/downloadCode.png) no-repeat center;
	background-size:contain ;
}
/*公共头部结束*/

/*首页中间开始*/
.txt{
	padding-top:200px;
	color:#fff;
	text-align: center;
}
.txt .title{
	font-size:64px;
	font-weight: bold;
}
.txt .line{
	width:320px;
	height:6px;
	background: #fff;
	margin:0 auto;
	margin-top:15px;
}
.txt .seeBtn{
	width:236px;
	height:56px;
	line-height: 56px;
	font-size:24px;
	border:2px solid #fff;
	border-radius: 30px;
	margin:0 auto;
	margin-top:160px;
	cursor: pointer;
}
.txt .seeBtn a{
	display: block;
	color:#fff;
}
.info{
	padding:50px 0 140px;
	text-align: center;
}
.info-title{
	font-size:30px;
	font-weight:bold;
	color:#ffffff;
}
.info-line{
	width:90px;
	height:6px;
	background:#ffffff;
	margin:0 auto;
	margin-top:22px;
}
.panel{
	margin-top:54px;
}
.panel .panel-list .panel-item{
	width:25%;
	float:left;
	margin-left:90px;
}
.panel .p1{
	color:#333;
	font-size:24px;
	font-weight: bold;
	margin:26px 0 18px;
}
.panel .p2,.panel .p3{
	color:#ffffff;
	line-height: 24px;
}
.panel .icon01,.panel .icon02,.panel .icon03,.panel .icon04{
	width:154px;
	height:154px;
	margin:0 auto;
}


.infoSec-title{
	margin-top:126px;
	font-size:30px;
	font-weight:bold;
	color:#2e39fa;
}
.infoSec-line{
	width:90px;
	height:6px;
	background:#2e39fa;
	margin:0 auto;
	margin-top:22px;
}
.panelSec{
	margin-top:54px;
}
.panelSec .panelSec-list .panelSec-item{
	padding-top:34px;
	width:246px;
	height:200px;
	float:left;
	box-shadow: 0 0 2px #AFAFAF;
	margin-right:90px;
	padding:0 24px;
}
.panelSec .panelSec-list .panelSec-item:last-child{
	margin-right:0;
}
.panelSec .p1{
	color:#2e39fa;
	font-size:24px;
	font-weight: bold;
	margin:26px 0 34px;
}
.panelSec .p2{
	text-align: left;
	color:#777777;
	line-height: 24px;
}
/*首页中间结束*/

/*首页底部开始*/
.footer{
	height:80px;
	background: #333333;
	padding-top:30px;
	font-size:20px;
	color:#a8a8a8;
	text-align: center;
}
.footer .footer-p1{
	line-height: 34px;
}
/*首页底部结束*/

.about-us-bg .header .list .item a:hover{
	border-color:red;
}
.about-us-bg .about-txt{
	padding-top:90px;
	font-size:58px;
	color: #2e39fa;
	text-align: center;
	font-weight: bold;
}
.about-us-bg .about-txt .about-txt-p1{
	line-height: 100px;
}
.about-us-content .company{
	padding-top:52px;
}
.about-us-content .company .chunk{
	float: left;
	width:10px;
	height:60px;
	background: #2e39fa;
	margin-right:14px;
}
.about-us-content .company .company-title{
	float: left;
	color:#000;
}
.about-us-content .company .company-p1{
	font-size: 32px;
	line-height: 40px;
}
.about-us-content  .company-txt{
	padding-top:52px;
	font-size: 20px;
	color: #333333;
}
.about-us-content  .company-txt p{
	text-indent: 32px;
	line-height: 28px;
}
.about-us-content .company-txt .risk-title{
	font-size: 22px;
	color: #5a5a5a;
}
.about-us-content .company-txt-p1 .round{
	vertical-align: middle;
	margin-right: 14px;
	display: inline-block;
	width:8px;
	height:8px;
	background: #2e39fa;
	border-radius: 50%;
}
.about-us-content .company-txt-p1:last-child{

}
.about-us-footer{
	height:396px;
	padding:66px 0 0 40px;
	background: #3f3f3f;
}
.about-us-footer .about-us-footer-map{
	float:left;
	height:322px;
	width:476px;
	background: url("../images/map.png") no-repeat center;
	border-radius: 8px;
}
.about-us-footer .about-us-footer-txt{
	float: left;
	color:#fff;
	padding:36px 0 0 36px;
}
.about-us-footer .about-us-footer-txt .about-us-footer-p1{
	font-size:34px;
	margin-bottom:52px;
}
.about-us-footer .about-us-footer-txt .about-us-footer-p2{
	font-size:18px;
	line-height: 44px;
}
/*关于我们结束*/
